<div class="row">
  <div class="col-md-6">
    <h3>Day 1: Nov 9</h3>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a></td> </tr>
      <tr> <td>Schedule</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">TBA: view the lesson here.</a></td> </tr>
      <tr> <td>09:00</td>     <td>Workshop orientation</td> </tr>
      <tr> <td>9:30</td>      <td><a href="01-introduction">Introduction to Open Refine</a></td> </tr>
      <tr> <td>10:15</td>     <td>Break</td> </tr>
      <tr> <td>&nbsp;</td>    <td><a href="04-faceting-and-filtering">Faceting and filtering</a></td> </tr>
      <tr> <td>11:30</td>  <td>END</td> </tr>  
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: Nov 10</h3>
    <table class="table table-striped">
      <tr> <td>&nbsp;</td>  <td>continued</td> </tr>
      <tr> <td>&nbsp;</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}">Post-workshop survey</a></td> </tr>
    </table>
  </div>
</div>
