<div class="row">
  <div class="col-md-6">
    <h3>Day 1: Nov 9</h3>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a></td> </tr>
      <tr> <td>09:00</td>   <td>Workshop Orientation and Welcome</td></tr>
      <tr> <td>09:15</td>   <td><a href="01-introduction">Introduction to Open Refine</a></td></tr>
      <tr> <td>09:30</td>   <td><a href=""> Importing Data into OpenRefine</a></td></tr>
      <tr> <td>09:45</td>   <td><a href=""> Layout of OpenRefine, Rows vs Records</a></td></tr>  
      <tr> <td>10:15</td>   <td>Break</td> </tr>
      <tr> <td>10:30</td>   <td><a href="04-faceting-and-filtering"> Faceting and filtering</a></td></tr>
      <tr> <td>10:50</td>   <td><a href=""> Clustering</a></td></tr>
      <tr> <td>11:15</td>   <td><a href=""> Working with Columns and Sorting</a></td></tr>
      <tr> <td>11:30</td>  <td>Projected End Time</td></tr>  
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: Nov 10</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>A quick review of Day 1</td></tr>
      <tr> <td>09:15</td>  <td><a href="07-introduction-to-transformations">Introduction to Transformations</a></td></tr>
      <tr> <td>09:25</td>  <td><a href=""> Writing Transformations</a></td></tr>
      <tr> <td>09:40</td>  <td><a href=""> Transformations - Undo and Redo</a></td></tr>
      <tr> <td>09:45</td>  <td><a href=""> Transforming Strings, Numbers, Dates, and Booleans</a></tr></td>
      <tr> <td>10:05</td>  <td>Break</td> </tr>
      <tr> <td>10:20</td>  <td><a href="11-using-arrays-transformations">Transformations - Handling Arrays</a></td></tr>
      <tr> <td>10:40</td>  <td><a href=""> Transformations - Exporting</a></td></tr>
      <tr> <td>10:45</td>  <td><a href=""> Advanced OpenRefine Functions</a></td></tr>
      <tr> <td>11:15</td>  <td>Projected End Time</td> </tr>
      <tr> <td>&nbsp;</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}">Post-workshop survey</a></td> </tr>
    </table>
  </div>
</div>
